<div class="container my-24 mx-auto md:px-6">
    <section class="mb-32 text-center">
        <h2 class="mb-16 text-3xl font-bold">
            Pourquoi choisir notre service<u class="text-primary-700">
                TAXI EL BOUROUMI ?</u>
        </h2>
        <div class="grid gap-x-6 md:grid-cols-3 lg:gap-x-12">
            

            <div class="mb-12 md:mb-0">
                <div class="mb-6 inline-block rounded-md bg-primary-500 p-4 text-primary-200">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 512 512" stroke-width="2" stroke="currentColor" class="h-6 w-6 fill-primary-100">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"/>
                    </svg>
                </div>
                <h5 class="mb-4 text-lg font-bold">Disponible 24/7</h5>
                <p class="text-neutral-500 dark:text-neutral-300">
                    Réservez un taxi à tout moment, même en pleine nuit. Notre service est disponible 24 heures sur 24, 7 jours sur 7.
                </p>
            </div>

            <div class="mb-12 md:mb-0">
                <div class="mb-6 inline-block rounded-md bg-primary-500 p-4 text-primary-200">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 512 512" stroke-width="2" stroke="currentColor" class="h-6 w-6 fill-primary-100">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"/>
                    </svg>
                </div>
                <h5 class="mb-4 text-lg font-bold">Disponible 24/7</h5>
                <p class="text-neutral-500 dark:text-neutral-300">
                    Réservez un taxi à tout moment, même en pleine nuit. Notre service est disponible 24 heures sur 24, 7 jours sur 7.
                </p>
            </div>

            <div class="mb-12 md:mb-0">
                <div class="mb-6 inline-block rounded-md bg-primary-500 p-4 text-primary-200">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 512 512" stroke-width="2" stroke="currentColor" class="h-6 w-6 fill-primary-100">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"/>
                    </svg>
                </div>
                <h5 class="mb-4 text-lg font-bold">Disponible 24/7</h5>
                <p class="text-neutral-500 dark:text-neutral-300">
                    Réservez un taxi à tout moment, même en pleine nuit. Notre service est disponible 24 heures sur 24, 7 jours sur 7.
                </p>
            </div>
        </div>
    </section>
</div>