<div class="container my-24 mx-auto md:px-6">
    <section class="mb-32 text-center">
        <h2 class="mb-16 text-3xl font-bold">
            Pourquoi choisir notre service<u class="text-primary-700">
                TAXI EL BOUROUMI ?</u>
        </h2>
       <div class="flex justify-center gap-x-6">
    <div class="mb-12">
        <div class="mb-6 inline-block rounded-md p-4 text-primary-200">
            <img width="80" height="80" src="{{asset("dispo.jpg")}}"/>
        </div>
        <h5 class="mb-4 text-lg font-bold">Disponible 24/7</h5>
        <p class="text-neutral-500 dark:text-neutral-300">
            Réservez un taxi à tout moment, même en pleine nuit. <br/> Notre service est disponible 24 heures sur 24, 7 jours sur 7.
        </p>
    </div>

    <div class="mb-12">
                <div class="mb-6 inline-block rounded-md  p-4 text-primary-200">
                <img width="80" height="80" src="{{asset("cpam.jpg")}}"/>

</div>

       
        <h5 class="mb-4 text-lg font-bold">Transport de Malades</h5>
        <p class="text-neutral-500 dark:text-neutral-300">
            Notre service de transport pour les malades, conventionné par la CPAM, <br/> assure des trajets sereins et adaptés vers vos lieux de soins.<br/> Nos chauffeurs sont formés pour garantir votre confort et sécurité tout au long du voyage.
        </p>
    </div>
</div>

    </section>
</div>