<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}TAXI EL BOUROUMI!{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="TAXI EL BOUROUMI est une plateforme de reservation de Taxi.">
        <meta name="keywords" content="taxi,ebtaxi91,reservation taxi,Réservez Taxi, Taxi el BOUROUMI,BOUROUMI ">

        <script src="
        https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js
        "></script>       
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        
    {% include "components/_navbar.html.twig" %}
        {% block body %}{% endblock %}
        {% include "components/_footer.html.twig" %}

    </body>
</html>
