{% extends 'base.html.twig' %}

{% block title %}403 - Forbidden{% endblock %}

{% block body %}

<main class="bg-gray-100 h-screen flex items-center justify-center">
    <div class="text-center">
        <h1 class="text-6xl font-bold text-red-500">403</h1>
        <p class="mt-4 text-xl text-gray-700">Accès interdit</p>
        <p class="mt-2 text-gray-500">Vous n'avez pas la permission d'accéder à cette page.</p>
        <div class="mt-6">
            <a href="{{path('app_home')}}" class="px-6 py-2 text-white bg-blue-600 hover:bg-blue-700 rounded-md shadow">
                Retour à l'accueil
            </a>
        </div>
    </div>
</main>
{% endblock %}