{% extends 'base.html.twig' %}

{% block title %}Erreur 500 - Problème interne{% endblock %}

{% block body %}



<main class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="text-center">
        <h1 class="text-6xl font-bold text-red-600">500</h1>
        <p class="mt-4 text-2xl text-gray-700">Oups! Une erreur interne s'est produite.</p>
        <p class="mt-2 text-gray-500">Nous rencontrons actuellement un problème. Veuillez réessayer plus tard.</p>
        <div class="mt-6">
            <a href="{{path('app_home')}}" class="px-6 py-3 bg-blue-600 text-white rounded-lg shadow-md hover:bg-blue-500">Retourner à l'accueil</a>
        </div>
        
    </div>
</main>
{% endblock %}